body {
    opacity: 0;
    transition: opacity 10s;
    background-color:  #212529;
    margin-left: auto;
    margin-right: auto;
}

img {

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
