{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <ul class="list-group list-group-horizontal">
        <li class="list-group-item bg-dark text-warning border border-secondary"><h4 class="mb-1">Tracks</h4></li>
        <li class="list-group-item bg-dark text-warning border border-secondary"><h4 class="mb-1">Albums</h4></li>
        </ul>
        {% for track, album in zip(tracks, albums) %}
        <ul class="list-group list-group-horizontal">
        <li class="list-group-item text-start list-group-item-action ">
                <button class="btn btn-link lname text-left" type="button" data-bs-toggle="collapse" data-bs-target="#{{ track['reddit_id'] }}" aria-expanded="false" aria-controls="{{ track['reddit_id'] }}" style="width:100%">
                    {{ track.name }}
                </button>
            <div class="collapse" id="{{ track['reddit_id'] }}">
                <div class="card card-body dropdown-card shadow p-3 mb-5 bg-body rounded">
                    <a href="{{ album['reddit_url'] }}">Original Reddit Thread</a><br>
                    <span><br><a href="#">Amazon</a> || <a href="#">Apple Music</a> || <a href="#">Bandcamp</a> || <a href="#">Deezer</a> || <a href="#">Soundcloud</a> || <a href="#">Spotify</a> || <a href="#">Tidal</a> || <a href="#">YouTube Music</a></span>
                </div>
            </div>
        </li>
        <li class="list-group-item text-start list-group-item-action ">
                <button class="btn btn-link lname text-left" type="button" data-bs-toggle="collapse" data-bs-target="#{{ album['reddit_id'] }}" aria-expanded="false" aria-controls="{{ album['reddit_id'] }}" style="width:100%">
                    {{ album.name }}
                </button>
            <div class="collapse" id="{{ album['reddit_id'] }}">
                <div class="card card-body dropdown-card shadow p-3 mb-5 bg-body rounded">
                    <a href="{{ album['reddit_url'] }}">Original Reddit Thread</a><br>
                    <span><br><a href="#">Amazon</a> || <a href="#">Apple Music</a> || <a href="#">Bandcamp</a> || <a href="#">Deezer</a> || <a href="#">Soundcloud</a> || <a href="#">Spotify</a> || <a href="#">Tidal</a> || <a href="#">YouTube Music</a></span>
                </div>
            </div>
        </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
